FLOW_1.txt
[{"id":"5ab2a661.060e48","type":"tab","label":"SMS"},{"id":"b0e07b68.345da8","type":"ui_form","z":"5ab2a661.060e48","name":"Get Input","label":"","group":"be403b6.88117c8","order":0,"width":"0","height":"0","options":[{"label":"Message","value":"message","type":"text","required":true}],"formValue":{"message":""},"payload":"","topic":"","x":84,"y":528,"wires":[["6243a514.540a9c","3218adec.211ea2","32d74f49.e8a3f"]]},{"id":"5c10c482.998acc","type":"serial out","z":"5ab2a661.060e48","name":"Serail-Out","serial":"8ab2c9d7.2eaae8","x":720,"y":460,"wires":[]},{"id":"3a821b34.32e8a4","type":"function","z":"5ab2a661.060e48","name":"Send Message","func":"var sms_msg = msg.payload.message;\n\nmsg.payload=sms_msg+\"\\x1A\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":568,"wires":[["5c10c482.998acc"]]},{"id":"6243a514.540a9c","type":"delay","z":"5ab2a661.060e48","name":"Wait for > prompt","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":568,"wires":[["3a821b34.32e8a4"]]},{"id":"3218adec.211ea2","type":"delay","z":"5ab2a661.060e48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":264,"y":508,"wires":[["d496fbf9.b4a898"]]},{"id":"d496fbf9.b4a898","type":"function","z":"5ab2a661.060e48","name":"Write newline","func":"msg.payload=\"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":508,"wires":[["5c10c482.998acc"]]},{"id":"d5de9895.ee5388","type":"serial in","z":"5ab2a661.060e48","name":"Serial-In","serial":"8ab2c9d7.2eaae8","x":85,"y":388,"wires":[["9b1e08fe.040598"]]},{"id":"9b1e08fe.040598","type":"debug","z":"5ab2a661.060e48","name":"","active":true,"console":"false","complete":"false","x":285,"y":388,"wires":[]},{"id":"9b468a7f.faec48","type":"inject","z":"5ab2a661.060e48","name":"READ SMS","topic":"","payload":"AT+CMGL=\"ALL\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":640,"wires":[["9b94ed17.d8489"]]},{"id":"70e10a4e.a49ed4","type":"inject","z":"5ab2a661.060e48","name":"Check Serial Port","topic":"","payload":"AT","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":640,"wires":[["9b94ed17.d8489"]]},{"id":"de95c9b0.db7428","type":"inject","z":"5ab2a661.060e48","name":"Manufacturer Info","topic":"","payload":"AT+CGMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":680,"wires":[["9b94ed17.d8489"]]},{"id":"e446a730.ad5b18","type":"inject","z":"5ab2a661.060e48","name":"Model Number","topic":"","payload":"AT+CGMM","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":720,"wires":[["9b94ed17.d8489"]]},{"id":"6e61db31.931754","type":"inject","z":"5ab2a661.060e48","name":"Software Version","topic":"","payload":"AT+CGMR","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":760,"wires":[["9b94ed17.d8489"]]},{"id":"f230ed70.b865f","type":"inject","z":"5ab2a661.060e48","name":"Signal Strength","topic":"","payload":"AT+CSQ","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":800,"wires":[["9b94ed17.d8489"]]},{"id":"fa943f2b.47fcc","type":"inject","z":"5ab2a661.060e48","name":"Registration Status","topic":"AT+CREG?","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":470,"y":840,"wires":[["9b94ed17.d8489"]]},{"id":"e618da39.2d6d98","type":"inject","z":"5ab2a661.060e48","name":"Connection Status","topic":"","payload":"AT+CGACT?","payloadType":"str","repeat":"","crontab":"","once":false,"x":470,"y":880,"wires":[["9b94ed17.d8489"]]},{"id":"60489ef0.c0187","type":"inject","z":"5ab2a661.060e48","name":"Operator Info","topic":"","payload":"AT+COPS?","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":920,"wires":[["9b94ed17.d8489"]]},{"id":"7d59f9f1.464ca8","type":"inject","z":"5ab2a661.060e48","name":"Connection Profiles","topic":"","payload":"AT+CGDCONT?","payloadType":"str","repeat":"","crontab":"","once":false,"x":470,"y":960,"wires":[["9b94ed17.d8489"]]},{"id":"a026feff.a73d7","type":"serial out","z":"5ab2a661.060e48","name":"Serial-out","serial":"8ab2c9d7.2eaae8","x":880,"y":800,"wires":[]},{"id":"9b94ed17.d8489","type":"function","z":"5ab2a661.060e48","name":"Add Newline","func":"msg.payload = msg.payload + \"\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["a026feff.a73d7"]]},{"id":"1b23ee62.a1cd52","type":"trigger","z":"5ab2a661.060e48","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":269,"y":53,"wires":[["863f5e5e.fa9af","31626bb8.4053c4","f27f435f.8e55e","f1c723ba.5fb8e","8fd1e6d1.297f78"]]},{"id":"e9668c1.b95337","type":"inject","z":"5ab2a661.060e48","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":52,"wires":[["1b23ee62.a1cd52","3a21c3f9.03df8c"]]},{"id":"863f5e5e.fa9af","type":"function","z":"5ab2a661.060e48","name":"AT+CMGF=1","func":"//var num = msg.payload.number;\nvar at_cmd = \"AT+CMGF=1\"; \n\nmsg.payload=at_cmd+\"\\r\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":"1","noerr":0,"x":453,"y":53,"wires":[["f396162f.c15df8"]]},{"id":"31626bb8.4053c4","type":"delay","z":"5ab2a661.060e48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287,"y":126,"wires":[["ae19ff3c.92e84"]]},{"id":"f396162f.c15df8","type":"serial out","z":"5ab2a661.060e48","name":"Serail-Out","serial":"8ab2c9d7.2eaae8","x":619,"y":52,"wires":[]},{"id":"ae19ff3c.92e84","type":"function","z":"5ab2a661.060e48","name":"AT+CSCS=\"GSM\"","func":"//var num = msg.payload.number;\nvar at_cmd = \"AT+CSCS=\\\"GSM\\\"\"; \n\nmsg.payload=at_cmd+\"\\r\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":"1","noerr":0,"x":472,"y":125,"wires":[["f396162f.c15df8"]]},{"id":"f27f435f.8e55e","type":"delay","z":"5ab2a661.060e48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":286,"y":196,"wires":[["27010544.a3468a"]]},{"id":"f1c723ba.5fb8e","type":"delay","z":"5ab2a661.060e48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":289,"y":266,"wires":[["79393d99.00feb4"]]},{"id":"8fd1e6d1.297f78","type":"delay","z":"5ab2a661.060e48","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":288,"y":332,"wires":[["ad9a78d9.b8e9c8"]]},{"id":"27010544.a3468a","type":"function","z":"5ab2a661.060e48","name":"Send 'To' Number","func":"var num = global.get(\"Phone_Number\");\nvar at_cmd = \"AT+CMGS=\\\"\"+num+\"\\\"\"; \n\nmsg.payload=at_cmd+\"\\r\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":"1","noerr":0,"x":471,"y":199,"wires":[["f396162f.c15df8"]]},{"id":"79393d99.00feb4","type":"function","z":"5ab2a661.060e48","name":"Write newline","func":"msg.payload=\"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":266,"wires":[["f396162f.c15df8"]]},{"id":"ad9a78d9.b8e9c8","type":"function","z":"5ab2a661.060e48","name":"Send Message","func":"var sms_msg = \"Node-Red Startup\";\n\nmsg.payload=sms_msg+\"\\x1A\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":330,"wires":[["f396162f.c15df8"]]},{"id":"3a21c3f9.03df8c","type":"function","z":"5ab2a661.060e48","name":"Phone Number","func":"global.set(\"Phone_Number\",\"YOUR NUMBER HERE\");\n","outputs":1,"noerr":0,"x":100,"y":120,"wires":[[]]},{"id":"32d74f49.e8a3f","type":"function","z":"5ab2a661.060e48","name":"Send 'To' Number","func":"var num = global.get(\"Phone_Number\");\nvar at_cmd = \"AT+CMGS=\\\"\"+num+\"\\\"\"; \n\nmsg.payload=at_cmd+\"\\r\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":460,"wires":[["5c10c482.998acc"]]},{"id":"de590e5b.34e5d","type":"inject","z":"5ab2a661.060e48","name":"Delete All SMS Messages","topic":"","payload":"AT+CMGD=1,3","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":680,"wires":[["9b94ed17.d8489"]]},{"id":"be403b6.88117c8","type":"ui_group","z":"","name":"SMS","tab":"2cd13bf3.e6dd94","order":1,"disp":true,"width":"6"},{"id":"8ab2c9d7.2eaae8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"false","out":"time","addchar":false},{"id":"2cd13bf3.e6dd94","type":"ui_tab","z":"","name":"SMS","icon":"dashboard"}]