FLOW_1.txt
[{"id":"3d3b39ab.536be6","type":"serial in","z":"c736b2df.4697d","name":"","serial":"288b2af7.c4f8f6","x":160,"y":180,"wires":[["87313a88.320e58","7c98956d.d589bc"]]},{"id":"87313a88.320e58","type":"function","z":"c736b2df.4697d","name":" GSM M590E","func":"/*\nGSM M590E Function\n\nWriten By: Lee Bolton\nDate: 24/01/2018\n\nThis function is using the default settings on your GSM Module\n\n\n*** Serial Settings ***\n\nConnection:\n\nBaud Rate: 115200\nData Bits: 8\nParity: None\nStop Bits: 1\n\nInput:\n\nSplit Input: after timeout of, 500ms\nAnd Deliver: ascii strings\n\n***********************\n\nReplace YOUR_NUMBER_HERE with the phone number you want the text to go to (in international format)\nie. +447890112233\nso replace the zero at the begining of your destination number with +44 \n+44 is the code for United Kingdom\n+61 is the code for Australia\n+1 United States of America\netc...\n\nRespond is set to ON so it replys when you send it a message to let you know it has done what you asked\nDebug_Outbound is set to OFF, set to ON if you are having problems.\n*/\nglobal.set(\"Phone_Number\",\"+447593159418\");\nglobal.set(\"Respond\",\"ON\");\nglobal.set(\"Debug_Outbound\",\"OFF\");\nvar words = msg.payload.split(\" \");\nvar serial_word = words[0].split(\"+\");\nvar inbound = serial_word[1];\n\nif (global.get(\"recive_init\") === undefined && inbound ==\"SMSFLAG:\"){\n    global.set(\"message\",\"inbound\");\n    global.set(\"recive_init\",\"1\");\n    //code here for reciving text\n    msg = {payload:\"AT+CMGR=1\\r\"};\n    msg2 = {payload:\"Message Recived\"};\n    return [msg,null,msg2];\n}\n\nif (global.get(\"message\") == \"inbound\" && words[1] == \"\\\"REC\"){\n    msg = {payload:\"Prossesing Message\"};\n    node.send([null,null,msg]);\n    GSM_Validate_Number = global.get(\"Phone_Number\").split(\"+\");\n    GSM_Incoming_Number = words[2].split(\"\\\"\");\n    GSM_Incoming_Command = words[2].split(\"\\\"\");\n    if (GSM_Validate_Number[1] == GSM_Incoming_Number[2]){\n        GSM_Topic = GSM_Incoming_Command[7].split(\"\\r\\n\");\n        GSM_Payload = words[3].split(\"\\r\\n\");\n        msg.topic = GSM_Topic[1];\n        msg.payload = GSM_Payload[0];\n        msg2.payload = \"MQTT:\"+GSM_Topic[1]+\":\"+GSM_Payload[0];\n        node.send([null,msg,msg2]);\n        msg = {payload:\"AT+CMGD=1,4\\r\"};\n        node.send([msg,null,null]);\n    }\n    else{\n        msg = {payload:\"Number Did Not Match\"};\n        node.send([null,null,msg]);\n        msg = {payload:\"Incoming:\"+GSM_Incoming_Number[1]};\n        node.send([null,null,msg]);\n        msg = {payload:\"AT+CMGD=1,4\\r\"};\n        node.send([msg,null,null]);\n    }\n    global.set(\"GSM_Inbound_Compleat\",\"OK\");\n    \n    return null;\n}\n\nif((global.get(\"message\") == \"outbound\" | global.get(\"message\") === undefined) && global.get(\"send_init\") === undefined){\n    global.set(\"message\",\"outbound\");\n    global.set(\"message_holder\",msg.payload);\n    global.set(\"send_init\",\"1\");\n    msg={payload:\"AT+CMGF=1\\r\"};\n    msg2={payload:\"Sending Message\"};\n    return [msg,null,msg2];\n}\n\nif (global.get(\"message\") == \"outbound\" && global.get(\"send_init\") == \"1\"){\n    var array = msg.payload.split(\"\\r\\n\");\n    var array0 = array[0];\n    var array1 = array[1];\n    var array2 = array[2];\n    \n    if (global.get(\"Debug_Outbound\") == \"ON\"){\n        debug_ar0 = {payload:\"array0:\"+array0};\n        debug_ar1 = {payload:\"array1:\"+array1};\n        debug_ar2 = {payload:\"array2:\"+array2};\n        node.send([null,null,debug_ar0]);\n        node.send([null,null,debug_ar1]);\n        node.send([null,null,debug_ar2]);\n    }\n    \n    if (array0 == \"AT+CMGF=1\\r\" && array1 == \"OK\")\n    {\n        var msg = {payload:\"AT+CSCS=\\\"GSM\\\"\\r\"};\n        return msg;\n    }\n    if (array0 == \"AT+CSCS=\\\"GSM\\\"\\r\" && array1 == \"OK\")\n    {\n        msg = {payload:\"AT+CMGS=\\\"\"+global.get(\"Phone_Number\")+\"\\\"\\r\"};\n        return msg;\n    }\n    if (array0 == \"AT+CMGS=\\\"\"+global.get(\"Phone_Number\")+\"\\\"\\r\" && array1 ==\"> \")\n    {\n        msg={payload:global.get(\"message_holder\")+\"\\x1A\"};\n        return msg;\n    }\n    if (array0 === \"\" && array2 == \"OK\")\n    {\n        msg = {payload:global.get(\"message_holder\")+\" Sent OK\"};\n        global.set(\"message\", undefined);\n        global.set(\"send_init\", undefined);\n        return [ null, null, msg];\n    }\n    else if (array0 === \"\" && array1 == \"ERROR\")//set timer to initiate resending of message\n    {\n        msg={payload:\"AT+CMGF=1\\r\"};\n        msg2={payload:\"Retrying To Send Message\"};\n        setTimeout(function(){\n            node.send([msg,null,msg2]);\n        }, 5000);\n    }\n}\nif (global.get(\"GSM_Inbound_Compleat\")==\"OK\"){\n    finalise = words[0].split(\"\\r\\n\");\n    if (finalise[0] == \"AT+CMGD=1,4\\r\" && finalise[1] == \"OK\"){\n        global.set(\"recive_init\",undefined);\n        global.set(\"message\",\"outbound\");\n        global.set(\"GSM_Inbound_Compleat\",undefined);\n        msg = {payload:\"Finished\"};\n        node.send([null,null,msg]);\n    }\n    if (global.get(\"Respond\") == \"ON\"){\n        global.set(\"message\",\"outbound\");\n        global.set(\"message_holder\",GSM_Topic[1]+\":\"+GSM_Payload[0]+ \" OK\");\n        global.set(\"send_init\",\"1\");\n        msg={payload:\"AT+CMGF=1\\r\"};\n        msg2={payload:\"Sending Acknowledgement\"};\n        return [msg,null,msg2];\n    }\n}\n\n","outputs":"3","noerr":0,"x":380,"y":180,"wires":[["8bcb695.05eb998","c1e30a27.006838"],["eac346e6.e9afa8","2e1d3874.88d2e8"],["10a313da.60389c"]],"inputLabels":["Serial In"],"outputLabels":["Serial Out","MQTT Out","UI Out"]},{"id":"eac346e6.e9afa8","type":"mqtt out","z":"c736b2df.4697d","name":"","topic":"","qos":"","retain":"","broker":"e904685e.7efdc8","x":570,"y":180,"wires":[]},{"id":"10a313da.60389c","type":"debug","z":"c736b2df.4697d","name":"console out","active":true,"console":"false","complete":"payload","x":590,"y":280,"wires":[]},{"id":"d58da19c.5a50f","type":"inject","z":"c736b2df.4697d","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":120,"wires":[["87313a88.320e58"]]},{"id":"8bcb695.05eb998","type":"debug","z":"c736b2df.4697d","name":"","active":false,"console":"false","complete":"false","x":580,"y":80,"wires":[]},{"id":"7c98956d.d589bc","type":"debug","z":"c736b2df.4697d","name":"","active":false,"console":"false","complete":"false","x":170,"y":260,"wires":[]},{"id":"2e1d3874.88d2e8","type":"debug","z":"c736b2df.4697d","name":"","active":false,"console":"false","complete":"false","x":590,"y":240,"wires":[]},{"id":"c01de01a.5c66","type":"function","z":"c736b2df.4697d","name":"GSM RESET","func":"//reset inbound\nglobal.set(\"recive_init\",undefined);\nglobal.set(\"GSM_Inbound_Compleat\",undefined);\n\n//reset outbound\nglobal.set(\"message\", undefined);\nglobal.set(\"send_init\", undefined);\nreturn null;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[[]]},{"id":"2edc46be.1458fa","type":"inject","z":"c736b2df.4697d","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":320,"wires":[["c01de01a.5c66"]]},{"id":"c1e30a27.006838","type":"serial out","z":"c736b2df.4697d","name":"","serial":"288b2af7.c4f8f6","x":580,"y":120,"wires":[]},{"id":"b2cf602d.eea65","type":"inject","z":"c736b2df.4697d","name":"Com Check","topic":"","payload":"AT\\r","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["67a5aca2.6afb44"]]},{"id":"67a5aca2.6afb44","type":"function","z":"c736b2df.4697d","name":"AT\\r","func":"msg = {payload:\"AT\\r\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["c1e30a27.006838"]]},{"id":"1c5fc97a.384db7","type":"function","z":"c736b2df.4697d","name":"\\x1A","func":"msg = {payload:\"\\x1A\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["c1e30a27.006838"]]},{"id":"630ec465.13e7dc","type":"inject","z":"c736b2df.4697d","name":"End Of Message","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":40,"wires":[["1c5fc97a.384db7"]]},{"id":"288b2af7.c4f8f6","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"false","out":"time","addchar":false},{"id":"e904685e.7efdc8","type":"mqtt-broker","z":"","broker":"192.168.1.202","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]